flask
flask-cors
tensorflow
keras
librosa
numpy
scikit-learn
gTTS
scamp
transformers
pydub
boto3
coqui-tts
markovify
pandas
torch
torchvision
nltk
gdown
better-profanity
denoiser
noisereduce
ffmpeg
hf_xet